*.gem
.bundle
.sass-cache
.jekyll-cache
_site
Gemfile.lock
unused
bootstrap-reference.html
/.vs/2_asaxlab.github.io/FileContentIndex/1592ad79-4143-4386-9520-5769ea3676c9.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/42bb4803-b08a-49d8-8fee-ed6f504c9c34.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/bc3cf306-8615-4a28-994f-10d5d187131e.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/772a2de0-4db2-4c47-a0c3-1ff8e2c616f4.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/431fdfda-2745-4615-a139-d4fad9cc5633.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/ed81c576-eb12-4759-8ca2-bf7c4047096a.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/a2355502-7397-4579-be19-3d40d84fb209.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/223ad25b-e77d-4d97-9e2f-701e17027129.vsidx
/.vs/2_asaxlab.github.io/FileContentIndex/f2708beb-ceb8-4ac2-ae1f-6b8f4ac55dc6.vsidx
